*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#calculator
{
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
}
button
{
 height:100px;
 width:100px;
 border-radius: 50%;
 font-size: 3em;
 margin: 5px;
 background-color: hsl(0, 0%, 40%);
 border: none;
 cursor: pointer;
}
#button
{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    background-color: hsl(0, 0%, 15%);
    padding: 20px;
    
}
body
{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#input
{
  width:100%;
  text-align: left;
  color: white;
  background-color: hsl(0, 0%, 20%);
  font-size: 5em;
  border: none;
  
}
.operator
{
    background-color: hsl(16, 88%, 53%);
}
button:hover
{
    background-color: hsl(0, 0%, 50%);
}
button:active
{
    background-color: hsl(0, 0%, 60%);
}
.operator:hover
{
    background-color: hsl(16, 88%, 60%);
}
.operator:active
{
    background-color: hsl(16, 88%, 70%);
}