body
{
    background-image: url("./assets/bg2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Clock-container
{
  display:flex;
  justify-content: center;
  min-height:100vh;
  align-items: center;
}
.Clock
{
  font-size:5em;
  backdrop-filter: blur(10px);
  text-align: center;
  width:100vw;
  font-family: monospace;
  font-weight: bold;
  color:white;  
}